.mmm-fintech {
  padding: 10px;
}

.mmm-fintech-header {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.mmm-fintech-table {
  width: 100%;
  border-collapse: collapse;
}

.mmm-fintech-table th {
  font-weight: normal;
  opacity: 0.6;
  font-size: 0.8em;
  text-align: right;
  padding-bottom: 5px;
}

.mmm-fintech-table th:first-child {
  text-align: left;
}

.mmm-fintech-symbol {
  text-align: left;
}

.mmm-fintech-qty {
  text-align: right;
  font-family: monospace;
  padding-left: 15px;
}

.mmm-fintech-value {
  text-align: right;
  font-family: monospace;
  padding-left: 15px;
}

.mmm-fintech-change {
  text-align: right;
  font-family: monospace;
  padding-left: 15px;
}

.mmm-fintech-change.positive {
  color: #5f5;
}

.mmm-fintech-change.negative {
  color: #f55;
}

.mmm-fintech-total {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
}

.mmm-fintech-footer {
  margin-top: 10px;
  text-align: right;
}
